.week {
	padding-top: 50px;

  &__inner {
    text-align: center;
    @extend %dmsans-700;
  }

  &__products {
		padding-top: 185px;
		@media (max-width: $screen-s) {
			padding-top: 50px;
		}
	}

  &__wrapper {
    display: grid;
		grid-template-columns: repeat(auto-fill, minmax(870px, 1fr));
		grid-gap: 200px 30px;
    justify-items: center;

		@media (max-width: $screen-m) {
			grid-template-columns: 1fr;
			grid-gap: 200px 30px;
		}

		@media (max-width: $screen-s) {
			grid-row-gap: 50px;
		}
  }

  &__product {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 870px;
    height: 100%;
    min-height: 388px;
    padding: 50px 140px;
    color: $primary;
    background-color: #feefe2;
    transition: transform ease .3s;
    position: relative;
		// margin-right: 30px;	
		// margin-bottom: 200px;

		@media (max-width: $screen-m) {
			padding: 10px 50px;
		}

		@media (max-width: $screen-s) {
			min-height: auto;
			padding: 40px 50px;
		}

		@media (max-width: $screen-xs) {
			flex-direction: column;
			justify-content: center;
			padding: 40px 20px;
		}
    &:not(:last-child) {
    }

    &:hover {
      transform: scale(1.05);
    }
  }

	&__product-link {
		width: 100%;
    max-width: 233px;
		height: 100%;
    max-height: 405px;
		@media (max-width: $screen-xs) {
			max-height: 200px;
			margin-bottom: 20px;
		}
	}
  &__img {
		width: 100%;
    max-width: 233px;
    margin-top: -170px;

		@media (max-width: $screen-s) {
			margin-top: 0;
			height: 100%;
		}
  }

  &__product-content {
    display: flex;
    flex-direction: column;
    margin-left: 65px;

		@media (max-width: $screen-xs) {
			margin-left: 0;
			text-align: center;
			align-items: center;
		}
  }

  &__heading {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    @extend %dmsans-700;
    font-size: 26px;
  }

  &__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;

	@media (max-width: $screen-s) {
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}
}

.filter:not(:last-child) {
  margin-right: 30px;
	@media (max-width: $screen-s) {
		margin-right: 0;
		margin-bottom: 20px;
		font-size: 18px;
	}
}

.filter {
  &__btn {
    color: $small-text;
    font-size: 16px;
    @extend %dmsans-700;
    transition: color .3s;

    &:hover,
    &:active,
    &:focus {
      color: $home-title;
    }
  }
}