body {
	color: $navy;
	font-size: 16px;
	line-height: 1.9;
	background-color: #ffffff;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.container--big {
	max-width: 1800px;
}

a {
	text-decoration: none;
}

.sr-only {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
	width: 20px;
  height: 20px;
	transition: fill .3s;
	}

.title {
	margin-bottom: 8px;
	font-family: $dmsans-700;
	font-size: 36px;
	color: $black;
}