body {
	color: $primary;
	font-size: 16px;
	line-height: 1.9;
	@extend %rubik-400;
	background-color: #ffffff;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.container--big {
	max-width: 1800px;
}

a {
	text-decoration: none;
}

.sr-only {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
	width: 20px;
  height: 20px;
	transition: fill .3s;
	}

img {
	object-fit: contain;
	object-position: center center;		
}

.logo__img {
	max-width: 146px;
	max-height: 39px;
}

.title {
	margin-bottom: 8px;
	@extend %dmsans-700;
	font-size: 36px;
	color: $home-title;
}

a, button {
	outline-color: $small-text;
}

.main-btn {
	font-size: 15px;
	@extend %rubik-500;
	line-height: 1;
	color: #ffffff;
	background-color: $accent;

	transition: background-color .3s;

	& svg {
		fill: #ffffff;
		width: 23px;
		height: 11px;
	}

	&:hover {
			background-color: #93b9ce;
		}

	&:focus, &:active {
			background-color: #7fbee0;
		}
	&	svg {
			fill: #ffffff;
		}

	&:hover svg {
			fill: #edf1f4;
		}
	}

