$primary: #243f4d;
$header: #436372;
$accent: #a3bbc8;
$home-title: #191919;
$small-text: #8b8b8b;
$bg: #fcd7b6;
$bg2: #fde5d0;
$border: rgba(9, 49, 111, 0.1);
$hover-bg: #edf1f4;
$hover-text: #747373;

$screen-l: 1200px;
$screen-m: 991px;
$screen-s: 768px;
$screen-xs: 576px;

$shadow: 0px 10px 50px 6px rgba(37, 37, 37, 0.05);

@mixin font($ff, $fw) {
	font-family: $ff, sans-serif;
	font-weight: $fw;
}

@mixin a($width) {
	@media only screen and (max-width: $width+ "px") {
		@content;
	}
}

%rubik-400 {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

%poppins-700 {
	font-family: 'Poppins', sans-serif;;
} 

%dmsans-400 {
	font-family:'DMSans', sans-serif;
	font-weight: 400;
}

%dmsans-500 {
	font-family:'DMSans', sans-serif;
	font-weight: 500;
}

%dmsans-700 {
	font-family:'DMSans', sans-serif;
	font-weight: 700;
} 

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}