$navy: #243f4d;
$light-navy: #436372;
$light-blue: #a3bbc8;
$black: #191919;
$light-gray: #8b8b8b;
$gray: #585858;
$dark-gray: #414141;
$beige: #fcd7b6;
$light-beige: #fde5d0;

$rubik-500: 'Rubik-Medium', sans-serif;
$rubik-400: 'Rubik-Regular', sans-serif;
$poppins-700: 'Poppins-Bold', sans-serif;
$dmsans-400: 'DMSans-Regular', sans-serif;
$dmsans-500: 'DMSans-Medium', sans-serif;
$dmsans-700: 'DMSans-Bold', sans-serif;