$primary: #243f4d;
$header: #436372;
$accent: #a3bbc8;
$home-title: #191919;
$small-text: #8b8b8b;
$bg: #fcd7b6;
$bg2: #fde5d0;

$hover-bg: #edf1f4;

%rubik-400 {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

%poppins-700 {
	font-family: 'Poppins', sans-serif;;
} 

%dmsans-400 {
	font-family:'DMSans', sans-serif;
	font-weight: 400;
}

%dmsans-500 {
	font-family:'DMSans', sans-serif;
	font-weight: 500;
}

%dmsans-700 {
	font-family:'DMSans', sans-serif;
	font-weight: 700;
} 