.footer {
  @extend %rubik-400;
  font-size: 14px;
  color: #7b7b7b;

  &__top {
    padding: 67px 0 50px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-m) {
      justify-content: space-between;
      padding: 50px 0;
    }

    @media (max-width: $screen-xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    margin-top: 20px;

    &:not(:last-child) {
      @media (max-width: $screen-m) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $screen-xs) {
      margin-top: 0;
      text-align: center;
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-right: auto;

      @media (max-width: $screen-m) {
        margin-right: 0;
      }

      @media (max-width: $screen-xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

  }

  &__contacts {
    width: 100%;
    max-width: 220px;
    margin-right: 100px;
    margin-top: 14px;

    @media (max-width: $screen-m) {
      margin-right: 0;
    }

    @media (max-width: $screen-xs) {
      max-width: none;
    }

    & span {
      text-transform: uppercase;
    }

    & p:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__connect {
    margin-top: 10px;
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    text-decoration: underline;
  }

  &__list {
    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 6px;
  }

  &__heading {
    margin-bottom: 10px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__heading-js {
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      @media (max-width: $screen-xs) {
        content: '';
        width: 10px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        top: 10px;
        transition: transform .3s ease;
      }
    }

    &::before {
      transform: rotate(40deg);
      left: -25px;
    }

    &::after {
      transform: rotate(-40deg);
      left: -18px;
    }

    &--active {
      &::before {
        transform: rotate(-40deg);
      }

      &::after {
        transform: rotate(40deg);
      }
    }
  }

  &__input {
    margin-right: -4px;
    width: 170px;
    padding: 10px 12px;
    background-color: #fef7f0;
    line-height: 1;
    color: #234969;
    outline-color: $small-text;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
}

.footer__subscribe {
  width: 100%;
  max-width: 270px;
  justify-self: flex-end;
}

.footer__subscribe-text {
  margin-bottom: 32px;
}

.main-btn--subscribe {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  @extend %dmsans-400;
  font-size: 14px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding: 38px 0;
  line-height: 1;
  border-top: 1px solid $accent;

  @media (max-width: $screen-s) {
    flex-direction: column-reverse;
		text-align: center;
  }

  &__copy {
    @media (max-width: $screen-s) {
      width: 100%; 
    }
  }

  &__list {
    display: flex;

    @media (max-width: $screen-s) {
      width: 100%;
			justify-content: center;
			margin-bottom: 20px;
    }
  }

  &__item:not(:last-child) {
    padding: 0 15px;
    border-right: 1px solid #7b7b7b;

  }

  &__item:last-child {
    padding-left: 15px;
  }
}