.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 40px 30px;
	grid-auto-columns: 270px;
	justify-items: center;

	&__item {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 45px 32px;
  width: 100%;
  max-width: 270px;
  overflow: hidden;
  background-color: #ffffff;
  @extend %dmsans-500;
  font-size: 16px;
  position: relative;
  box-shadow: 0px 10px 50px 6px rgba(37, 37, 37, 0.05);

	@include a(567) {
		max-width: none;
		width: 90%;
	}
  &__img {
    max-width: 186px;
    height: 215px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 168px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    opacity: 0;
    transition: opacity .3s;

		@include a(768) {
			opacity: 1;
		}
  }

  &:hover {
    transform: translateY(-1%);
  }

  &:hover &__buttons {
    opacity: 1;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0px 10px 20px 6px rgba(37, 37, 37, 0.05);
    transition: background-color .3s;

    & svg {
      width: 20px;
      height: 16px;
    }

    &:hover,
    &:focus {
      background-color: $hover-bg;
    }

    &:hover svg {
      fill: $header;
    }

    svg, &:focus svg {
      fill: $accent;
    }

    &:active {
      background-color: $accent;
    }

    &:active svg {
      fill: #ffffff;
    }
  }

  &__heading {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: auto;
    color: $primary;
  }

  &__price, &__category {
    color: $accent;
    @extend %dmsans-700;
  }
}