.week {
  &__inner {
    // display: flex;
    justify-content: center;
    padding: 60px 0 185px;
    text-align: center;
    @extend %dmsans-700;
  }

  &__products {}

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__product {
    display: flex;
    align-items: center;
    width: 49%;
    min-width: 766px;
    height: 100%;
    min-height: 388px;
    padding: 50px 140px;
    color: $primary;
    background-color: #feefe2;
    transition: transform ease .3s;
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
			margin-bottom: 150px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    max-width: 233px;
    max-height: 405px;
    margin-top: -100px;
  }

  &__product-content {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-left: 65px;
  }

  &__heading {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    @extend %dmsans-700;
    font-size: 26px;
  }

  &__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}

.filter:not(:last-child) {
  margin-right: 30px;
}

.filter {
  &__btn {
    color: $small-text;
    font-size: 16px;
    @extend %dmsans-700;
    transition: color .3s;

    &:hover,
    &:active,
    &:focus {
      color: $home-title;
    }
  }
}